@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.shape {
    position: absolute;
    opacity: 0.6;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid #575757;
    animation: squareMove 25s infinite ease-in-out;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #575757;
    animation: circleMove 30s infinite ease-in-out;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid transparent;
    border-bottom-color: #575757;
    transform: rotate(-45deg);
    animation: triangleMove 20s infinite ease-in-out;
}

.x {
    position: relative;
    width: 100px;
    height: 100px;
    animation: xMove 35s infinite ease-in-out;
}

.x:before, .x:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #575757;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
}

.x:after {
    transform: rotate(-45deg);
}

@keyframes squareMove {
    0% {
        transform: translate(-100%, -100%);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-100%, -100%);
    }
}

@keyframes circleMove {
    0% {
        transform: translate(-100%, 0%);
    }
    25% {
        transform: translate(0%, -100%);
    }
    50% {
        transform: translate(100%, 0%);
    }
    75% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(-100%, 0%);
    }
}

@keyframes triangleMove {
    0% {
        transform: translate(0%, -100%);
    }
    25% {
        transform: translate(100%, 0%);
    }
    50% {
        transform: translate(0%, 100%);
    }
    75% {
        transform: translate(-100%, 0%);
    }
    100% {
        transform: translate(0%, -100%);
    }
}

@keyframes xMove {
    0% {
        transform: translate(-100%, -100%);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-100%, -100%);
    }
}

.square, .circle, .triangle, .x {
    animation-timing-function: ease-in-out;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

nav {
    background-color: #333;
    color: white;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}

nav ul li {
    display: flex;
    align-items: center;
    flex: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, border-radius 0.3s;
    text-align: center;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #575757;
    border-radius: 4px;
    color: white;
}

@media (max-width: 1200px) {
    nav ul li a {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    nav ul li a {
        padding: 6px 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        padding: 4px 8px;
        font-size: 10px;
    }
}

section {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.section-hidden {
    opacity: 0;
    transform: translateY(20px);
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

.separator {
    width: 50%;
    height: 1px;
    background-color: #6b6b6b;
    margin: 20px auto;
    position: relative;
}

.standard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
    /* max-width: 550px; */
}

.standardv2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    /* max-width: 550px; */
}

.standardv2-visible {
    opacity: 1;
    transform: translateY(0);
}

.standardv2-hidden {
    opacity: 0;
    transform: translateY(20px);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skills span {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(26, 26, 26, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 768px) {
    .skills span {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 767px) {
    .skills span {
        width: calc(50% - 10px);
    }
}

@media (max-width: 200px) {
    .skills span {
        width: calc(100% - 10px);
    }
}


.skills-visible {
    opacity: 1;
    transform: translateY(0);
}

.skills-hidden {
    opacity: 0;
    transform: translateY(20px);
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}

.animated-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.gallery-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.image-item {
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.6);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-item-visible {
    opacity: 1;
    transform: translateY(0);
}

.image-item img {
    width: 120px;
    height: 120px;
    margin: 0 20px;
    border-radius: 10px;
}

.image-item:nth-of-type(1),
.image-item:nth-of-type(3) {
    flex-direction: row;
}

.image-item:nth-of-type(1) img,
.image-item:nth-of-type(3) img {
    order: -1;
}

.image-item:nth-of-type(1) div,
.image-item:nth-of-type(3) div {
    flex: 1;
    text-align: right;
}

.image-item:nth-of-type(2) {
    flex-direction: row;
}

.image-item:nth-of-type(2) img {
    order: 1;
}

.image-item:nth-of-type(2) div {
    flex: 1;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.8s;
}

@keyframes popUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.modal-content {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    animation: popUp 0.8s forwards;
    object-fit: cover;
    border-radius: 8px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    margin: 20px auto;
}

.tic {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    gap: 20px;
    background-color: #575757;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tic:hover {
    background-color: #2f2f2f
}


.swal-tic {
    background-color: #575757 !important;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-tic .swal2-title {
    color: #ffffff;
    font-size: 14px;
}

.swal-tic .swal2-icon {
    color: #ffffff;
    font-size: 14px;
}

.swal-tic .swal2-confirm {
    background-color: #2f2f2f;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-tic .swal2-confirm:hover {
    background-color: #274b70;
}

#start-button {
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-color: #575757;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none; 
    box-shadow: none;
    transition: background-color 0.3s, color 0.3s;
}

#start-button:hover {
    background-color: #2f2f2f;
}

#whack {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(3, 75px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.hole {
    width: 70px;
    height: 70px;
    background-color: #575757;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.mole {
    width: 60px;
    height: 60px;
    background-color: #1f1f1f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.swal-whack {
    background-color: #575757 !important;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-whack .swal2-title {
    color: #ffffff;
    font-size: 14px;
}

.swal-whack .swal2-icon {
    color: #ffffff;
    font-size: 14px;
}

.swal-whack .swal2-confirm {
    background-color: #2f2f2f;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-whack .swal2-confirm:hover {
    background-color: #274b70;
}

.swal-whack2 {
    background-color: #4a4a4a !important;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-whack2 .swal2-title {
    color: #ff5555;
    font-size: 14px;
}

.swal-whack2 .swal2-icon {
    color: #ff5555;
    font-size: 14px;
}

.swal-whack2 .swal2-confirm {
    background-color: #3a3a3a;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-whack2 .swal2-confirm:hover {
    background-color: #ff3333;
}

.close {
    display: none;
}

#contact {
    text-align: center;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-icon {
    color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.social-icon:hover {
    color: #0091ff;
}

.social-icon.facebook:hover {
    color: #3b5998;
}

.social-icon.instagram:hover {
    color: #e1306c;
}

.social-icon.youtube:hover {
    color: #FF0000;
}

.social-icon.linkedin:hover {
    color: #0077b5;
}

.social-icon.github:hover {
    color: #f39c12;
}

.social-icon i {
    margin-right: 3px;
    font-size: 17px;
}

.contact-2 {
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#goToTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #575757;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    display: none;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

#goToTopBtn:hover {
    background-color: #2f2f2f;
}

.footer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}