@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.shape {
    position: absolute;
    opacity: 0.6;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid #575757;
    animation: squareMove 25s infinite ease-in-out;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #575757;
    animation: circleMove 30s infinite ease-in-out;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid transparent;
    border-bottom-color: #575757;
    transform: rotate(-45deg);
    animation: triangleMove 20s infinite ease-in-out;
}

.x {
    position: relative;
    width: 100px;
    height: 100px;
    animation: xMove 35s infinite ease-in-out;
}

.x:before, .x:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #575757;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
}

.x:after {
    transform: rotate(-45deg);
}

@keyframes squareMove {
    0% {
        transform: translate(-100%, -100%);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-100%, -100%);
    }
}

@keyframes circleMove {
    0% {
        transform: translate(-100%, 0%);
    }
    25% {
        transform: translate(0%, -100%);
    }
    50% {
        transform: translate(100%, 0%);
    }
    75% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(-100%, 0%);
    }
}

@keyframes triangleMove {
    0% {
        transform: translate(0%, -100%);
    }
    25% {
        transform: translate(100%, 0%);
    }
    50% {
        transform: translate(0%, 100%);
    }
    75% {
        transform: translate(-100%, 0%);
    }
    100% {
        transform: translate(0%, -100%);
    }
}

@keyframes xMove {
    0% {
        transform: translate(-100%, -100%);
    }
    25% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-100%, -100%);
    }
}

.square, .circle, .triangle, .x {
    animation-timing-function: ease-in-out;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

nav {
    background-color: #333;
    color: white;
    padding: 05px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

nav ul li a.active {
    background-color: #575757;
    border-radius: 4px;
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    transition: background-color 0.3s, border-radius 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

section {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.section-hidden {
    opacity: 0;
    transform: translateY(20px);
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

.separator {
    width: 50%;
    height: 1px;
    background-color: #6b6b6b;
    margin: 20px auto;
    position: relative;
}

.persona {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}

.animated-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.gallery-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.6);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-item-visible {
    opacity: 1;
    transform: translateY(0);
}

.image-item img {
    width: 120px;
    height: 120px;
    margin: 0 20px;
    border-radius: 10px;
}

.image-item:nth-of-type(1),
.image-item:nth-of-type(3) {
    flex-direction: row;
}

.image-item:nth-of-type(1) img,
.image-item:nth-of-type(3) img {
    order: -1;
}

.image-item:nth-of-type(1) div,
.image-item:nth-of-type(3) div {
    flex: 1;
    text-align: right;
}

.image-item:nth-of-type(2) {
    flex-direction: row;
}

.image-item:nth-of-type(2) img {
    order: 1;
}

.image-item:nth-of-type(2) div {
    flex: 1;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.8s;
}

@keyframes popUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.modal-content {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    animation: popUp 0.8s forwards;
    object-fit: cover;
    border-radius: 8px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close {
    display: none;
}

#contact {
    text-align: center;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-icon {
    color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.social-icon i {
    margin-right: 3px;
    font-size: 17px;
}

.contact-2 {
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
}

form button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#goToTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #575757;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    display: none;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

#goToTopBtn:hover {
    background-color: #2f2f2f;
}

.footer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}